/*Element selector (body, nav h1)*/
/*mulit or group (h1, h2, p{color:blue;})*/
/*.classname, section, common--- class="name"== .name{}*/
/*id="name", header,nav one per page per attribute (#name) in css*/
/*best to use color name or hex value thru out the site. Hex value is better*/
/*Color background by tag, example div{ background-color-red;} */
/* In order to separate more than one list items ol li, ul li or p, <span>  
tag is used to group inline-elements in a document. You can style it with CSS, 
or manipulate it with JavaScript. Example ol li span */
/*Color Swatch-----------------
light blue      87d4f2
Dark blue			5174d5
red				d0000d
323232
white fff
red d0000d
blue			#0000FF
yellow			#FFFF00
lime			#00FF00
turquoise		#40E0D0
999
grey			#D3D3D3
blk 			#333

-------------------------------*/
  
 header{
 
 }
 /* body or a id="wrapper*/
 body{
 	color: #323232;
	font:100%/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height: 1.5;
	width: 960px;
	margin: 0 auto;
	padding: 0; 
	background: #87d4f2;/*light blue*/
}
h1{
text-indent: -200000px;
text-shadow: 200000px -0px 1px #111;
}
/*----------------horizontal menu------------------------------- */
 nav#menu ul{
	width:600px;
	margin:0 auto;
	list-style-type:none; 
	padding:0;
	overflow:hidden;	
}	
nav#menu li{
	width:200px;
	text-align:left;
	float: left;
}
nav#menu a{
	text-decoration:none;
	display: block;
	height: 30px;
	line-height:30px;
	text-align:center;
/*used default color blue*/
 }
 nav#menu a:visited{
 	color:blue;
 	background:yellow;
 }
 nav#menu a:hover{
 	color:#fff;/*white*/
	background:#d0000d;/*red*/
 }
 nav#menu a:active{
 	color:#00FF00;
 	background:#40E0D0;
 }
 
 img#first{
 	border: 5px solid #333;
 	float: right;
 }
 .stop float{
	clear: both;
 }
  #aside{
  	background: red;
  	padding: 0px 0px 0px;
  	margin: 0px 20px;
  }
  p{
  	margin: 0px 20px;
  }
 h1, h2, h3, h4, h5, h6{
	 margin:0;
	 padding: 15px 20px 0px;
  }
 article{}
 #par{
 	-moz-column-count:3;
	 -moz-column-gap: 25px
 }
 #menu{
	background:gray;
}
	
 ul#main_gallery{
 	border: 1px dashed #fff;
 	list-style-type: none;
 	width:960px;	 
 	margin:20px auto;
 	overflow:hidden;
 	padding:5px;
 }
 li#main_gallery{
 	float:left;
 	margin-left: 10px;
 }
 a#main_gallery{
 	border: 10px solid #fff;
 	display: block;
 	height: 159px;
 	width: 212px;
 }
 footer{}