/*Element selector (body, nav h1)*/
/*mulit or group (h1, h2, p{color:blue;})*/
/*.classname, section, common--- class="name"== .name{}*/
/*id="name", header,nav one per page per attribute (#name) in css*/
/*best to use color name or hex value thru out the site. Hex value is better*/
/*Color background by tag, example div{ background-color-red;} */
/* In order to separate more than one list items ol li, ul li or p, <span>  
tag is used to group inline-elements in a document. You can style it with CSS, 
or manipulate it with JavaScript. Example ol li span */
/*Color Swatch-----------------
light blue      #87d4f2
Dark blue		#5174d5
red				#d0000d				 
white 			#fff
blue			#0000FF
yellow			#FFFF00
lime			#00FF00
turquoise		#40E0D0
dark grey		#999
grey			#D3D3D3
grey/blk 			#333
blue rgb		0, 0, 255, 0.5
-------------------------------*/  
  #wrapper{
  	width:90%;/*960px*/
	margin: 0 auto;  
  }
  header{
  	background-color:rgba(0,0,255,0.5);	 
  }
 /* body or a id="wrapper*/
  body{
 	color: #323232;
	font:100%/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height: 1.5;
	max-width: 960px;
	margin: 0 auto;
	padding: 0; 
	background: #87d4f2;/*light blue*/
}
h1{
	text-indent: -200000px;
	text-shadow: 200000px -0px 1px #111;
}
/*----------------horizontal menu------------------------------- */
 nav#menu ul{
	width:62.5%;/*600px/960px*/
	margin:0 auto;
	list-style-type:none; 
	padding:0;
	overflow:hidden;	
}	
nav#menu li{
	width:20.0833333333333%;/*200px/960px*/
	text-align:left;
	float: left;
}
nav#menu a{
	text-decoration:none;
	display: block;
	height: 30px;
	line-height:30px;
	text-align:center;
/*used default color blue*/
 }
 nav#menu a:visited{
 	color:blue;
 	background:yellow;
 }
 nav#menu a:hover{
 	color:#fff;/*white*/
	background:#d0000d;/*red*/
 }
 nav#menu a:active{
 	color:#00FF00;
 	background:#40E0D0;
 }
 /*----------------Special request------------------------------- */
 .stop_float{
	clear: both;
 }
 img{
 	max-width: 100%;
 }
 /*----------------Aside------------------------------- */
  #aside{
  	background: #d0000d;
  	padding: 0px 0px 0px;
  	margin: 0px 02.0833333333333% 0px 0px;/*20px/960px*/
  	width: 41.1666666666667%;/*400px/960px*/
  }
  /*----------------Paragraph Adjustments------------------------------- */
  p{
  	margin: 0px 02.083333333333%;/*20px/960px*/
 }
 /*----------------Header Adj------------------------------- */
 h1, h2, h3, h4, h5, h6{
	 margin:0;
	 padding: 15px 02.0833333333333% 0px;/*20px/960px*/
  }
  h4{
  background-color:rgba(0,0,255,0.10);
  }
  h5{
  font-family: 'Pacifico', cursive;
  }
  h6{
  	font-weight: bold;
  }
 article{}
 /*----------------Three section Paragraph------------------------------- */
 #par{
 	-moz-column-count:3;
	-moz-column-gap: 25px;
	background: #D3D3D3; /*grey*/
	border:5px #d0000d solid; /*boarder value in px, thin, medium, or thick/*/ 
	border-radius:1.041666666667%; /*10px/960px*/
 }
 /*----------------First Img on Page------------------------------- */
 img#first{
 	border: 5px solid #333;
 	float: right;
 	width: 39.583333333333%;/*380px/960px*/
 } 
 /*----------------Main and Gallery------------------------------- */
 #main{
	background:#999;
	overflow:hidden;	
 }
 #main_gallery ul{ 
 	list-style-type: none;
  	width:62.5%;/*600px/960px*/	 
 	margin:03.333333333333% auto;/*20px/600px*/
 	overflow:hidden;
 	padding:25%;/*5px/20px*/
 }
 #main_gallery li{
 	float:left;
 	margin-left: 4.6875%;/*45px/960px*/
 	overflow:hidden;
 } 
 #main_gallery a{
 	border: 10px solid #fff;
 	display: block;
 	height: 159px;
 	width:  60%;/*212px/*600px/good*/
 	outline: 0;
 }
 #main_gallery a:visited{
 	border-color: navy;
 }
 #main_gallery a:hover{
 	border-color: #d0000d;/*red*/
 }
 #main_gallery a:active{
 	border-color: #000;/*blk*/
 } 
/*----------------Table------------------------------- */
.table{
	margin: 0 auto;
	width: 52.083333333333%;/*500px/960px*/
	border:5px solid transparent
	
 }
  table{
	border-collapse:collapse;
 	border:1px solid #000;
 }
  td{
	border:1px solid #000;
	padding: 0.3em;
 }
  th{
	text-align:left;
	background-color:#999;
	color: #fff;
	padding: 0.3em;
 }
  .even_row{
 	background-color: silver;
 }
 /*------------------Form____________________________*/
 input:focus{
		background:#FFFF00;
 }
 .form{
 	background-color: #d0000d;
 	width: 57.279166666667%;/*550px/960px*/
 	margin: 0 auto;
 	padding: 25px;
 	border: 10px solid #fff;/*10px/550px*/
 }
 /*----------------Footer------------------------------- */ 
  footer{clear:both;
	margin-top:1em;
	background:#999;
 }
 /* =Media Queries
 ======================================================*/
 
 /* Tablet Portrait size to standard 960 (devices and browsers)*/
 	@media screen and (min-width:768px) and (max-width:959px){
 		#wrapper{
 			background-color: #509cff;
 }
		 h1{
  			font-family: 'Pacifico', cursive;
 }
  		footer{
  			font-family: 'Pacifico', cursive;
 }
 		#main_gallery{
 		float: left;		 
 			width: 100%;
 			
 }
  		#main_gallery a{
			width: 80%;
 }
 		#main_gallery li{
 			margin-left: 10px;
 }
 }	
 /* Mobile Landscape Size to Tablet Portrait(devices and browsers)*/
 	@media only screen and (min-width:480px) and (max-width:767px){
 		#wrapper{
 			background-color: #ff7743;
 } 
 		#par {
    		-moz-column-count: 1;
    		-moz-column-gap: 0
 }
		img#first{
			float: none;
 }
 		#main_gallery{
 			margin-left: 35px;
 }
		#main_gallery a{
			float: none;
			width: 90%;
 }
 		footer{
  			font-family: 'Pacifico', cursive;
 }
 		img#first{
 			border: 5px solid #fff;
 			float: none;
 } 
 		textarea{
 			width: 100%;
 }	
 		.table{
 			width: 90%;
 }
 }
 	 
 /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers)*/
 	@media only screen and (max-width:479px){
 		#wrapper{
 			background-color: #d593ff;
 /* additional options img#first{display: none;}section, aside {float:none;}*/
 }
 		#par {
    		-moz-column-count: 1;
    		-moz-column-gap: 0
 }
		img#first{
			display: none;
 }
 		#main_gallery{
 			margin-left: 35px;
 }
 		#main_gallery a{
			width: 90%;
 }
 		.form{
 			background-color: #d0000d;
 			width: 80%; 
 			padding: 25px;
 			border: 5px solid #fff;/*10px/550px*/
 }
 		textarea{
 			width: 100%;
 }	
 		.table{
 			width: 90%;
 			font-size:12px;
 }
		footer{
  			font-family: 'Pacifico', cursive;
 }
 }
 
 
 